
<ul class="navbar-nav mt-2 my-lg-0" >

    @if (Request.IsAuthenticated)
    {
        <li class="nav-item active">
            <a style="color:black" class="nav-link" href="@Url.Action("UserDetails","Account")">@User.Identity.Name</a>
        </li>
        if (User.IsInRole("admin"))
        {


        }
        else
        {
        }
        <li class="nav-item active">
            <a style="color:black" class="nav-link" href="@Url.Action("Logout","Account")">Cıkış</a>
        </li>
    }
    else
    {

        <li class="nav-item active">
            <a style="color:black" class="nav-link" href="/Account/Login">Giriş</a>
        </li>

        <li class="nav-item active">
            <a style="color:black" class="nav-link" href="/Account/Register">Kayıt Ol</a>
        </li>
    }



</ul>