
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container p-5">
    <hr />
    <h2>Resim Ekle</h2>
    <hr />

    <h2> @ViewData["message"]</h2>
    <form method="post" enctype="multipart/form-data">
        <div class="text-center row">
            <div class="col-md-4">
                <input type="file" name="file" />
            </div>
            <div class="col-md-8">
                <button type="submit" class="btn btn-primary"> Kaydet</button>
            </div>
        </div>
    </form>

</div>


