
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>MVC Kamp Tablo Ornegi</h3>
    <table class="table table-bordered">
        <tr>
            <th>Kategori ID</th>
            <th>Adı</th>
            <th>Açıklama</th>
            <th>Durum</th>
            <th>Guncelle</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Eğitim</td>
            <td>Açıklama yaptık</td>
            <td>True</td>
            <td><button class="btn btn-success">Guncelle</button></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Spor</td>
            <td>Açıklama yaptık</td>
            <td>True</td>
            <td><button class="btn btn-success">Guncelle</button></td>

        </tr>
        <tr>
            <td>3</td>
            <td>Film</td>
            <td>Açıklama yaptık</td>
            <td>True</td>
            <td><button class="btn btn-success">Guncelle</button></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Dizi</td>
            <td>Açıklama yaptık</td>
            <td>True</td>
            <td><button class="btn btn-success">Guncelle</button></td>
        </tr>
    </table>
    <button class="btn btn-info">Yeni Kategori</button>
    <button class="btn btn-warning">Kategori Listesi</button>
    <button class="btn btn-danger">Kategori Açıklamaları</button>
</body>
</html>
