@model  Abc.MvcWebUI.Models.Cart
<ul class="navbar-nav mt-2 my-lg-0">

   
        <li class="nav-item active">
            <a class="nav-link" href="/cart/index"> <i class="fa fa-cart-plus" aria-hidden="true"></i>(@Model.CartLines.Count)</a>
        </li>
      
   

       



</ul>