@model string[]
@{
    ViewBag.Title = "Error";
}


<div class="container p-5">
    <h2>Hata</h2>

    @foreach (var error in Model)
    {
        <div class="alert alert-danger" role="alert">
            @error
        </div>
    }


</div>