@model IEnumerable<Abc.MvcWebUI.Identity.ApplicationRole>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="container p-5">
    <h2>Roller</h2>
    <hr />
    <table class="table table-hover table-bordered ">

        <tr>
            <th>
                Rol
            </th>
            <th>
                Açıklama
            </th>
            <th style="width: 140px;"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm"})
                </td>
            </tr>
        }

    </table>
</div>

